$color-gray: #CFCCD3;
$color-light-gray: #ECECEC;
$color-dark-gray: #B2B2B2;

$color-text-gray: #424242;

$color-black: #000000;
$color-white: #FFFFFF;

$color-green: #1BA642;
$color-red: #FF4445;


$overlay-color: rgba(0 0 0 / 60%);
$overlay-z-index: 100;
$modal-z-index: 1000;
